@use "../../globalStyles/variables" as var;
@use "../../globalStyles/mixins" as mix;

.sector-card{
    text-decoration: none;

    &:visited{
        color: white;
    }
}

.sector-name-overlay{
    background-color: rgba($color: black, $alpha: .6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include mix.fadeIn;

    &:hover{
        background-color: rgba(0, 0, 0, .3);
    }
}

.sector-image{
    width: 100%;
    aspect-ratio: 1/0.7;
    object-fit: cover;
}

.sector-name{
    color: white;
    text-align: center;
    padding: 1em;
}

@media (max-width: var.$tabletWidth){
    .sector-name{
        font-size: 24px;
    }

}
@media (max-width: var.$mobileWidth){
    .sector-name{
        font-size: 20px;
    }
    .sector-image{
        width: 100%;
        aspect-ratio: 1/0.5;
        object-fit: cover;
    }
}