@use "../../globalStyles/variables" as var;
@use "../../globalStyles/mixins" as mix;

.page-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
}

.post-content{
    margin: 3em 5em;
    width: 100%;
    max-width: var.$maxContentWidth;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
        auto
        auto
        3em
        auto
        1em
        // auto
        // 5em
        auto
    ;
    grid-template-areas: 
        "back"
        "title"
        "."
        "meta"
        "."
        // "image"
        // "image-description"
        "body"
    ;

    .all-posts{
        grid-area: back;
        width: fit-content;
        height: fit-content;
        font-size: 20px;
    }
    .title-wrapper{
        grid-area: title;
        width: 100%;
        height: fit-content;
    }
    .meta{
        grid-area: meta;
        min-height: 5em;
    }
    // .hero-image{
    //     grid-area: image;
    //     width: 100%;
    //     aspect-ratio: 1 / 0.46;
    // }
    // .image-description{
    //     grid-area: image-description;
    //     width: 100%;
    // }
    .body-wrapper{
        grid-area: body;
        width: 100%;
        height: 100%;
    }
}

.all-posts{
    color: var.$bodyColor;
    @include mix.fadeIn;

    &:visited{
        color: var.$bodyColor;
    }

    &:hover{
        color: var.$accentColor;
        transform: translateX(-.5em);
    }
}

.title-wrapper{
    margin-top: 3em;
}

.meta{
    display: flex;
    align-items: center;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;  
    padding-left: 2em;
}

.tag-wrapper{
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#read-time{
    margin-right: 1em;
}

.tag-list{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.tag-icon{
    width: 1.5em;
    margin-right: .5em;
    background: transparent;
}

.tag-item{
    margin-right: 1em;
}

.tag{    
    font-weight: 500;
}

.image-description{
    display: flex;
    align-items: center;
    margin: 0 5em;
}

.image-name{
    font-style: italic;
}

.body-wrapper{
    display: flex;
    justify-content: center;
}

.post-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left;
    justify-content: center;
    margin: 0 10vw;
}

hr{
    border: 1px solid #d3d3d3;
    max-width: var.$maxContentWidth;
    width: 30vw;
}

.more-posts-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
        6em
        auto
    ;
    grid-template-areas: 
        "more-posts-title"
        "more-posts"
    ;    
    width: 100%;
    margin-top: 3em;
}

.more-posts-title{
    grid-area: more-posts-title;
    justify-self: center;
}

.more-posts{
    grid-area: more-posts;
    margin-bottom: 5em !important;
}

@media (max-width: var.$tabletWidth){
    .post-content{
        margin: 3em 2em;
    }

    .post-body{
        margin: 0;
    }
    .image-description{
        margin: 0;
    }
    .meta{
        flex-direction: column;
        padding: 0;
        padding-top: 1em;
    }
    .tag-wrapper{
        margin: 0;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    .tag-list{
        margin-top: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}