@use "../../globalStyles/variables" as var;
@use "../../globalStyles/mixins" as mix;

.sector-grid-wrapper{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5em 0;
}

.sector-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, 400px);
    list-style: none;
    max-width: var.$maxContentWidth;
    width: 100%;
    padding: 0;
    margin: 0;
    justify-content: center;
}

@media (max-width: var.$tabletWidth){
    .sector-grid{
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 1em;
    }
}
@media (max-width: var.$mobileWidth){
    .sector-grid{
        grid-template-columns: repeat(auto-fit, 250px);
    }
}